{{#each artists}}
{{#each items}}
<div class="result">
  <div class="result-image" data-album-title="{{name}}"><img class="result-image-style" src="{{images.[0].url}}" /></div>
  <div class="result-title">{{name}}</div>
  <div class="view-albums"><button data-artist-name="{{name}}" class="album-buttom" type="button" name="albums"><a>Albums</a></button>

  </div>
  <div class="result-on-spotify">Learn more on</br>
    <a href="{{external_urls.spotify}}" target="_blank">
    <img src="spotify-1.png" height="25px" width="76px" /></a></div>
</div>
{{else}}
<p>Woops, it looks like nothing matched your search.<br>
Please try again.</p>
{{/each}}
{{/each}}
