{{#each artists}}
{{#each items}}
<div class="result">
  <div class="result-image"><img class="result-image-style" src="{{images.[0].url}}" /></div>
  <div class="result-title">{{name}}</div>
  <div data-artist-name="{{artists.[0].name}}" class="result-title-2">{{artists.[0].name}}</div>
  <div class="result-title-2">{{artists.[1].name}}</div>
  <div class="result-on-spotify">Learn more on</br>
    <a href="{{external_urls.spotify}}" target="_blank">
      <img src="spotify-1.png" height="25px" width="76px" /></a></div>
</div>
{{else}}
<p>sorry, no super heros here</p>
{{/each}}
{{/each}}
